/* font e colore sfondo */
body {

    font-family: roboto;
    background-color: #F6F8F9;
}

/* margine e sfondo header */
header{
    
    margin-bottom: 3%;
    background-color: white;
}


/* titolo di fianco al logo */
h1{
    display: inline-block;
    vertical-align: middle;
    

}

hr{

    border-top: 3px solid #F6F8F9;
    
    

}

/* allineamento logo */
.logo {

    vertical-align: middle;
}

/* impaginazione */
.container{
    
    background-color: white;
    margin: 10% 20%;
    padding: 1% 3% 2%;
    border-radius: 12px;

}

/* spaziatura degli elementi delle liste */
.spaziatura{

     margin-bottom: 3%;

}

/* posizione spunta verde e X rossa */
.circular{

    display: inline-block;
    text-align: center;
    
}

/* caratteristiche di grandezza e posizione bottoni */
.bottoni{
    
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    
}

/* colori bottone add task */
#task{
    
    border-color: white;
    background-color: #47ADF1;
    color: white;
}

/* colori bottone add selection */
#selection{

    background-color: white;
    border-color: #C8CED3;
    color: #C8CED3;

}

/* caratteristiche generali delle etichette colorate */
.etichetta{
    
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 16px;
    color: white;
}

/* etichetta azzurra editorial */
.editorial{

    background-color: #45ABEA;
    
}


/* etichetta viola Q1 goals */
.goals{

    background-color: #9C72E4;
    

}

/* etichetta verde recruiting */
.recruiting{

    background-color: #65C1AA;

}

/* etiochetta arancione mobile */
.mobile{

    background-color: #F29E33;

}

/* etichetta rosa website */
.website{

    background-color: #D863A1;

}

/* etichetta verde chiara sales */
.sales{

    background-color: #B0C926;
}

/* caratteristiche e inserimento spunta verde lista */
.check::after{
    content:'\2713';
    border: 2px solid green;
    color: green;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    padding: 3px;
}

/* caratteristiche e inserimento X lista */
.red-flag::after{
    content: 'X';
    border: 2px solid red;
    color: red;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    padding: 3px;

}

